<!DOCTYPE html>
<html>
<head>
  <title>EarthquakePlotter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
      <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
      </style>
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>">
      </script>
      <script type="text/javascript">
        function initialize() {
          var mapOptions = {
            center: new google.maps.LatLng(39, -105.5),
            zoom: 7
          };
          var map = new google.maps.Map(document.getElementById("map-canvas"),
              mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>
</head>
<body>

<%= yield %>
  <div id="map-canvas"/>
</body>
</html>
